@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
/* generic */
body {
  margin: 0;
}

.header {
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.header__container {
  max-width: 1120px;
  height: 116px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container-menu {
  display: flex;
  justify-content: space-between;
}
.header__container-menu-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #5C6A79;
  text-decoration: none;
  margin: 0 20px;
}
.header__container-menu-item:active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  color: #1C2A39;
}
.header__container-buttons-item {
  background-color: transparent;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

.section__slider {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.section__slider-slider {
  max-width: 1120px;
  margin: 0 auto;
  height: 700px;
  position: relative;
}
.section__slider-slider .image {
  background-size: cover;
  background-position: center center;
  width: 1120px;
  height: 700px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease;
}
.section__slider-slider .image.active {
  opacity: 1;
}
.section__slider-dots {
  display: flex;
  justify-content: center;
}
.section__slider-dots-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #EFEEF6;
  margin: 17px 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}
.section__slider-dots-item:hover, .section__slider-dots-item.active {
  background-color: #9E98DC;
}
.section__slider-link {
  position: absolute;
  padding: 26px 20px;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.section__slider-link.n1 {
  width: 149px;
  height: 204px;
  background-color: #9E98DC;
  top: 79px;
  right: 74px;
}
.section__slider-link.n2 {
  width: 137px;
  height: 273px;
  background-color: #FF8FE6;
  top: 362px;
  right: 0;
}
.section__slider-link-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1C2A39;
}

.section__books {
  max-width: 1120px;
  margin: 100px auto;
  display: flex;
}
.section__books-list {
  width: 416px;
  background-color: #EFEEF6;
  padding: 45px 0 80px 160px;
  box-sizing: border-box;
  position: relative;
  left: -160px;
}
.section__books-list ul {
  padding: 0;
}
.section__books-list ul li {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #5C6A79;
  margin: 20px 0;
  cursor: pointer;
}
.section__books-list ul li.active {
  font-weight: 700;
  font-size: 16px;
  color: #1C2A39;
  list-style-type: disc;
}
.section__books-list ul li.active::marker {
  color: #756AD3;
}
.section__books-bookcards {
  display: flex;
  flex-wrap: wrap;
}
.section__books-bookcards-item {
  display: flex;
}
.section__books-bookcards-item-img {
  width: 210px;
  height: 300px;
}
.section__books-bookcards-item-info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: capitalize;
  color: #5C6A79;
}
.section__books-bookcards-item-info h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1C2A39;
}
.section__books-bookcards-item-info button {
  background-color: transparent;
  padding: 18px 66px;
  border: 1px solid #4C3DB2;
  color: #4C3DB2;
  cursor: pointer;
}
.section__books-bookcards-item-info button.active {
  border: 1px solid #EEEDF5;
  color: #5C6A79;
}

/*# sourceMappingURL=style.css.map */
